// Fonts
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
// First Blue
$firstblue: #58a6ff;

* {
    margin: 0;
    body {
        background-color: $darkblue;
    }
}
// Smallest Smart Phones (Galaxy Fold)
@media screen and (max-width: 281px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3ch;
            .headshot {
                width: 50vw;
                height: 50vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.6rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.2rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1ch 6ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
// Smart Phones
@media screen and (min-width: 282px) and (max-width: 539px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3ch;
            .headshot {
                width: 50vw;
                height: 50vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 2rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.2rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1.3rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1ch 8ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// SURFACE DUO Portrait
@media screen and (min-width: 540px) and (max-width: 600px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6ch;
            .headshot {
                width: 35vw;
                height: 35vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 2rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.2rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1.3rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1ch 8ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Tablets and Landscapes
@media screen and (min-width: 601px) and (max-width: 730px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6ch;
            .headshot {
                width: 25vw;
                height: 25vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2.5ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.5rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1ch 8ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, .5rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 731px) and (max-width: 767px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6ch;
            .headshot {
                width: 30vw;
                height: 30vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2.5ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.8rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.2rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1ch 8ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// IPad Mini Portrait
@media screen and (min-width: 768px) and (max-width: 800px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6ch;
            .headshot {
                width: 40vw;
                height: 40vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 2.5rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.5rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                        padding: 1ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1.5rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1.5ch 10ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.3rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// IPad and Landscapes
@media screen and (min-width: 801px) and (max-width: 840px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6ch;
            .headshot {
                width: 35vw;
                height: 35vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2.5ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.8rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.2rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1ch 8ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// IPad and Landscapes
@media screen and (min-width: 842px) and (max-width: 950px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12ch;
            .headshot {
                width: 25vw;
                height: 25vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 3ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.8rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.2rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1ch 8ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// IPad and Landscapes
@media screen and (min-width: 951px) and (max-width: 1020px) {
    .home_section {
        background-color: $darkblue;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .home_content {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6ch;
            .headshot {
                width: 35vw;
                height: 35vw;
                border-radius: 50%;
                background-color: slategray;
                background-color: #00C6C3;
                color: $darkblue;
                font-family: 'Inter', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 2ch 0;
            }
            .home_words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2.5ch;
                .name_description {
                    display: flex;
                    flex-direction: column;
                    gap: .3ch;
                    .name_name {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.8rem, 3rem);
                        font-weight: bold;
                    }
                    .job_description {
                        border: 1px solid $portfolios;
                        border-radius: 5px;
                        background-color: $portfolios;
                        color: $jobdescription;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1.2rem, 2rem);
                        text-align: center;
                        padding: .5ch;
                    }
                }
                .slogan {
                    font-family: 'Inter', sans-serif;
                    font-size: clamp(1rem, 1rem, 2rem);
                    color: white;
                    text-align: center;
                    // font-weight: bold;
                }
                .learn_more {
                    border: 1px solid $portfolios;
                    border-radius: 5px;
                    background-color: $portfolios;
                    padding: 1ch 8ch;
                    a {
                        color: white;
                        font-family: 'Inter', sans-serif;
                        font-size: clamp(1rem, 1rem, 2rem);
                        // font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}